.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label.search-box, input.input-box{
  display: block;
}

label.search-box, label.category-label{
  font-weight: 600;
  margin-bottom: 5px;
  
}

input.input-box{
  font-size: medium;
  padding: 5px;
}

div.user-list{
  display: flex;
  padding-block: 10px;
}

div.data-category{
  width: 100%;
}

div.data-labeling{
  padding: 10px;
  background-color:  rgba(0, 0, 0, 0.1);
}

ul.list-category{
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


div.list-item{
  padding: 10px;
  width: 100%;
  border-top: solid 1px;
  box-sizing: border-box;
}

li.list-category-item{
  width: 100%;

}

li.list-category-item:nth-child(even) {
  background-color:  rgba(0, 0, 0, 0.1);
}

div.content{
  display: block;
  background-color: white;
  width: 90%;
  height: 100%;
  padding: 20px;
}